* {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.container-header {
    margin: 20px 100px 150px 100px;
    display: flex;
    justify-content: space-between;
}

.logo a {
    position: absolute;  
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    color: #FD8B47;
}

.nav-bar {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}

.nav-bar a {
    cursor: pointer; 
}

.nav-bar a:hover {
    color: #FD8B47;
}

.im-text {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-hero {
    margin: 0 100px 75px 100px;
    display: flex;
}

.hero p {
    font-size: 1rem;
}

.hero-left {
    margin-right: 7rem;
}

.hero-right img {
    border-radius: 90% 70% 80% 60%;
    margin-left: 7rem;
    }
    

.learn-text {
    color:#FD8B47;
    margin-top: 3rem;
}

.chevron-right {
    font-size: larger;
    font-weight: bolder;
    color:#FD8B47;
}

.soc-logo {
    filter: grayscale(100%);
    display: flex;
    margin: 2rem 0;
    gap: 1.2rem;
}

.tech-stack {
    font-weight: bolder;
    font-size: 1.25rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.about {
    margin: 150px 100px 150px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    border-radius: 10%;
    object-fit: cover;
    width: 400px;
}

.about-text {
    width: 400px;
    margin-left: 100px
}

.about-text h4 {
    font-weight: bolder;
    font-size: 1.25rem;
    margin: 0 0 20px 0;
}

.about-text h3 {
    font-weight: bolder;
    font-size: 1.75rem;
    margin: 0 0 20px 0;
}

.portfolio {
    margin: 0 100px 150px 100px;
}

.portfolio h4 {
    font-weight: bolder;
    font-size: 1.25rem;
    margin: 0 0 20px 0;
}

.web-photo img {
    border-radius: 7%;
    object-fit: contain;
}

.project-1 {
    display: flex;
    justify-content: flex-start;
}

.project-text {
    width: 500px;
    margin-left: 50px;
    margin-right: 50px; 
}

.project-text h3 {
    font-weight: bolder;
    font-size: 1.75rem;
    margin: 0 0 20px 0;
}

.lang-logo {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.code-sample {
    display: flex;
    gap: 2rem;
}

.code-sample a {
    color: #FD8B47;
    font-weight: bolder; 
}

.project-2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
}

.project-3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}

.contact {
    margin: 0 100px 150px 100px;
}

.contact > h4 {
    font-weight: bolder;
    font-size: 1.25rem;
    margin: 0 0 50px 0;
}

.contact h3 {
    font-weight: bolder;
    font-size: 1.75rem;
    margin: 0 0 20px 0;
}

.loc-mail {
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    margin-top: 2.5rem;
}

.location {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.loc-mail img {
    filter:brightness(100)
}

.loc-text-1 {
    font-weight: bolder;
    font-size: 1.25rem;
    margin: 0;
}

.loc-text-2 {
    margin: 0;
}

.mail {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.mail-logo img {
    filter:brightness(100)
}

.mail-text-1 {
    font-weight: bolder;
    font-size: 1.25rem;
    margin: 0;
}

.mail-text-2 {
    margin: 0;
}

.copyright-logo {
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0px 100px;
    align-items: center
}

hr {
    border-color: black;
}

@media (max-width: 600px) {

    .container-header {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container-hero {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .hero-right {
        order: -1;
    }

    .hero-right img {
        height: 250px;
    }
}
